@model PortpolioWeb.Models.Manage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Manage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>