@model IEnumerable<PortpolioWeb.Models.Manage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Manage</h2>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">글쓰기</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                구분
                @*@Html.DisplayNameFor(model => model.Cate)*@
            </th>
            <th width="40%">
                제목
                @*@Html.DisplayNameFor(model => model.Subject)*@
            </th>
            <th>
                작성일
                @*@Html.DisplayNameFor(model => model.RegDate)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Subject)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td style="padding:5px">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">수정</a>&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm">삭제</a>
                </td>
            </tr>
        }
    </tbody>
</table>